<div class="container">
    
    <app-menu></app-menu>
    <h1>Сторінка профілю</h1>
    <div *ngIf="isAuthenticated">
      
      <!-- Тут можна додати додатковий контент для авторизованих користувачів -->
      <div class="content">
     <p>Ласкаво просимо до вашого профілю! Тут ви можете переглядати та редагувати особисті дані.</p>
         </div><p>Ця сторінка доступна тільки авторизованим користувачам.</p>
    </div>
  
    <div *ngIf="!isAuthenticated">
      <p>Будь ласка, увійдіть для перегляду профілю.</p>
      <!-- Тут можна додати додатковий контент для неавторизованих користувачів -->
    </div>
    
  </div>
  